/* Global styles */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #777
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: #fff;
}
  

  
header h1 {
    font-size: 24px;
}
   
main {
    padding: 20px;
}

  
fieldset {
    margin-bottom: 20px;
    border: none;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}
  
label {
    display: block;
    margin-bottom: 10px;
    font-weight: lighter;
}
  
input[type="text"], input[type="email"], input[type="tel"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    border-color: #333;
}
  
button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
  
button[type="submit"]:hover {
    background-color: #555;
}
  
footer {
    background-color: #f8f8f8;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: 20px;
}

.content-header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  text-align: center;
  padding-left: 1.75em;
}

.main-title {
  margin: 0;
  font-size: 4em;
  color: white;
}
.main-nav {
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
}

.main-header {
  background-color: rgba(0,0,0,0.2);
  background-image: url("Images/About-1.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 0.5em;
  padding-bottom: 190px;
  text-align: center
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  padding: 1em;
  color: white;
  text-decoration: none;
}